.postsWall {
    margin-right: 10px;
    width: 100%;
    max-width: 600px;
}

.showNewPosts {
    margin-bottom: 10px;
    padding: 15px 0;

    background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    cursor: pointer;

    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    color: #fff;
}

@media (max-width: 880px) {
    .postsWall {
        margin: 0 auto;
    }
  }